Viewer {
    width: 100%;
    layers: viewer modal;
    align: center middle;
}

TheApp {
    layer: viewer;
}

TheApp.-show-sidebar #sidebar {
    display: block
}

#sidebar {
    dock: left;
    width: 50%;
    height: 100%;
    display: none;
    overflow: auto;
    overflow-x: auto;

}

LogViewer {
    width: 100%;
    height: 100%;

}


QuitScreen #dialog {
    width: 50%;
    grid-size: 2;
    grid-gutter: 1 2;
    padding: 1 2;
}


QuitScreen #question {
    column-span: 2;
    content-align: center bottom;
    width: 100%;
    height: 100%;
}

QuitScreen Button {
    width: 100%;
}
