Viewer {
    width: 100%;
    align: center middle;
}


.-show-sidebar #sidebar {
    display: block
}

#sidebar {
    dock: left;
    max-width: 50%;
    width: 70;
    height: 100%;
    display: none;
    overflow: auto;
    overflow-x: auto;

}

LogViewer {
    width: 100%;
    height: 100%;

}

.dialog {
    height: 100%;
    width: 100%;
    align: center middle;
}


.dialog #question {
    content-align: center bottom;
    width: 100%;
    margin: 1;
}

.dialog #buttons {
    width: 100%;
    height: auto;
    align: center middle;
}

.dialog Button {
    width: auto;

    margin: 1;

}

.focusable {
    background: $background-darken-3;
}

.focusable:focus {
    background: $background !important;
}
