#sidebar {
    dock: left;
    width: 30;
    height: 100%;
    color: #0f2b41;
    background: dodgerblue;
}


Output {
    width: 100%;
    height: 100%;
    /* background: yellow; */

}

NameSpacesView {
    width: 100%;
    background: red;
    /* height: 100%; */
}

InputWithLabel {
    height: auto;
}

InputWithLabel Label {
    width: 40%;
}

InputWithLabel Input {
    width: 50%;
    height: auto;
}

/* 
#treeview {
    height: auto;
    width: 100%;
} */
