LogControl {
    dock: top;
}

InputWithLabel {
    height: auto;
}

InputWithLabel Label {
    width: 40%;
}

InputWithLabel Input {
    width: 50%;
    height: auto;
}

LogOutput {
    height: 100%;
}

LogViewer {
    height: 100%;
}
